.professor{
    padding-left: 20px;
    padding-right: 20px;
}
.professor h3{
    padding-top: 10px;
    border-bottom: white 1px solid;
    color: white;
    font-weight: normal;
}
#profile{
    float: left;
    height: 10em;
    margin: 20px 20px 0 20px;
}
.border{
    padding-left: 20%;
}
#name{
    padding: 20px 0 0;
    border-bottom: white 1px solid;
    color: white;
    font-weight: normal;
}
div section li{
    padding-left: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width: 400px) {
.professor{
    padding: 0 20px;
}
 .professor h3{
    font-size: 10px;
    padding-left: 10px;
    font-weight: normal;
    color: white;
    border-bottom: 1px white solid;
 }
#profile{
        height: 10em;
        width: 5em;
}
.border{
    padding-left:40%;
    padding-right: 30px
}
#name{
    font-size: 10px;
}
p{
    font-size: 10px;
}
li{
    font-size: 10px;
}
.contact #c{
    padding-bottom: 10px;
}    
}
@media screen and (max-width: 780px){
    .professor{
        padding-left: 30px ;
        padding-right: 30px;
    }
    .professor h3{
        font-size: 20px;
        border-bottom: 1px white solid;
        color: white;
    }
    #profile{
        height: 15em;
        width: 10em;
    }
    .border{
        padding-left: 30%;
        padding-right: 30px;
    }
    #name{
       font-size: 20px;
    }
}
